html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	background-color:black;
	color: white;
	font-family: 'Arvo', serif;

}

header{
	background-color: black;
}

h1{
	color: white;
	font-family: 'Oswald', sans-serif;
	padding-left: 10px;
	position: relative;
	margin: 0;

}

li, a{
	text-decoration: none;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	text-align: center;
	margin: 0;
	padding: 0;

}

ol{
	margin: 0;
	padding: 0;
}

img{
	width: 100%;
	list-style: none;
}

p{
	padding: 10px;
	margin: 0;
}

.botimg{
	width: 50%;
	list-style: none;

}

.topnav{
	width: 100%;
}


.back{
	text-align: center;
	background-color: #737373;
}

.work{
	width: 100%;
}

@media only screen and (min-width: 28em){

	.work{
		width: 49%;
		display: inline-block;
		list-style: none;
	}

	html{
		font-size: 120%;
		line-height: 1.5;
	}

	.botimg{
		width: 20%;
	
	}

	.pr{
		width: 50%;
		float: right;
	}

}

@media only screen and (min-width: 43em;){

	html{
		font-size: 130%;
		line-height: 1.6;
	}

}

@media only screen and	(min-width: 90em;){

		html{
		font-size: 140%;
		line-height: 1.7;
	}

}

@media print{

	nav,a{
		display: none;
	}

		main, a::after {
		content: " (" attr(href) ") ";
	}

	span{
		display: none;
	}
}